<!doctype html>
<html>

<head>
	<title>Tag Suggestion for Bengali Documents</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div id="shob">
        <h2>/Tag Suggestion Tool/</h2>
	    <form method="POST" action="/results">
		    {{ form.title.label }} {{ form.title() }}
		    <br/>
           <!-- {{ form.text.label }} {{ form.text() }} */ -->
           <label for="text">Content</label>
            <textarea id="text" name="text"></textarea>
		    <input type="submit" value="Continue">
        </form>
    </div>
	
</body>

</html>